#fecha-clasificacion {
    position: absolute;
    top: 20px;
    right: 0;
    transform: translateX(-470%);
    background-color: transparent;
    color: #4CAF50;
    padding: 10px;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

h1 {color: #4CAF50;}

table {
    width: 50%;
    margin: 5;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #111;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 5px;
    text-align: center;
}
td:first-child {text-align: left;width: 5px;}

th {
    background-color: #333; /* Mantenemos el gris oscuro para el fondo del encabezado */
    color: #4CAF50; /* Texto del encabezado en verde */
    padding: 5px 5px;
    word-wrap: break-word; /* Permite la división de palabras para ajustar el texto dentro de la celda */
    text-align: center; /* Centramos el contenido */
}
/* Establecer el ancho de las columnas a partir de la segunda */
th:not(:first-child), td:not(:first-child) {
    width: 5px; /* Ejemplo de ancho fijo, ajusta según necesidad */
}

tr:nth-child(even) {
    background-color: #333;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
    }
}

th::after {
    content: "\A";
    white-space: pre;
}
